#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.search-bar {
  width: 600px;
  display: flex;
}

.rd-dropdown {
  border: 1px solid grey;
  border-bottom: none;
  border-radius: 2px;
}

.rd-dropdown-item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rd-dropdown-item:hover {
  background-color: lightgray;
}

.rd-dropdown-item input {
  cursor: pointer;
}

.rd-dropdown-item-label {
  padding: 2px;
}
